.element__like {
  margin: 9% 7% 0 0;
  padding: 0;
  background-color: #fff;
  border: none;
  min-height: 19px;
  min-width: 22px;
  box-sizing: border-box;
  background-image: url(./element-like.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.element__like:hover {
  opacity: 0.5;
  cursor: url("./cursor.png"), pointer;
}
