.profile__edit-button {
  background-color: #000;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-image: url(./edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 3% 1% 0;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 440px) {
  .profile__edit-button {
    height: 19px;
    width: 19px;
    margin-top: 2.5%;
  }
}
