.profile__add-button {
  background-color: #000;
  max-height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  margin: 23% 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/images/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 440px) {
  .profile__add-button {
    margin: 5% auto;
    min-height: 50px;
    min-width: 280px;
  }
}
