.elements {
  display: grid;
  margin: 0;
  padding: 0;
  max-width: 880px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px 16px;
  list-style-type: none;
}

@media screen and (max-width: 950px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    max-width: 580px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    grid-template-columns: 1fr;
    gap: 12px;
    max-width: 320px;
    margin: 0 auto;
  }
}
