.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  color: #fff;
  margin: 0 2.7% 0 0;
  padding: 0;
}

@media screen and (max-width: 950px) {
  .profile__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 0 3% 0 0;
  }
}
