.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  margin: 1.5% 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .profile__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 2% 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .profile__description {
    margin: 2% 10%;
  }
}
