.popup__close-icon {
  background-image: url(./close-icon.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 178px;
  left: 67%;
  right: 15%;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close-icon {
    background-image: url(./close-icon-small.svg);
    width: 20px;
    height: 20px;
    top: 19%;
    left: 92%;
    right: 5%;
  }
}

@media screen and (min-width: 1290px) {
  .popup__close-icon {
    left: 62%;
    right: 45%;
  }
}
