.profile__info {
  margin: 3.5% 0;
  padding: 0;
  max-width: 550px;
}

@media screen and (max-width: 950px) {
  .profile__info {
    margin: 3.5% 5.5%;
    min-width: 95%;
    max-width: 350px;
  }
}
