.edit-form__name-info {
  border: 0;
  margin: 4% 0 3%;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.edit-form__name-info:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .edit-form__name-info {
    margin: 23% 0 3%;
  }
}
