.edit-form__submit-button-text {
  border: 0;
  margin: 4% auto;
  padding: 0;
  color: #fff;
  background-color: black;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.edit-form__submit-button-text:hover {
  cursor: url("./cursor.png"), pointer;
}

@media screen and (max-width: 1100px) {
  .edit-form__submit-button-text {
    font-size: 14px;
    line-height: 17px;
    margin: 6% auto;
  }
}

@media screen and (max-width: 600px) {
  .edit-form__submit-button-text {
    margin: 13px auto;
  }
}
