.popup__cont-img {
  position: fixed;
  top: 12%;
  bottom: 7%;
  left: 10%;
  right: 10%;
  padding: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  max-width: 1000px;
  max-height: 700px;
  margin: 0 auto;
  z-index: 2;
}

@media screen and (max-width: 400px) {
  .popup__cont-img {
    top: 25.5%;
    left: 6%;
    right: 5%;
    max-width: 280px;
    max-height: 320px;
  }
}

@media screen and (min-width: 401px) and (max-width: 1150px) {
  .popup__cont-img {
    top: 25%;
    left: 10%;
    right: 10%;
    width: 350px;
    height: 320px;
  }
}
